<!DOCTYPE html>
<html lang="{{site.language}}">
  {% include head.html %}
  <body>
	<div id="main">
		{% include logo.html %}
		{% include nav.html %}
		<div id="content-left">
      {% assign content = page.content | strip_newlines %}
      {% if content != ""  %}
        {{content}}
      {% endif %}
      {% assign categories = site.categories[page.category] %} 
      {% assign sortedPosts = categories | sort: 'title' %} 
      {% for post in sortedPosts %}
        <div id="post-short">
          <a href="{{site.url}}{{site.baseurl}}{{post.url}}">
            <h3>&#8226;{{post.title}}</h3>
          </a>
        </div>
      {% endfor %}
		</div>
		{% include footer.html %}
	</div>
    </body>
</html>
