<!DOCTYPE html>
<html lang="{{site.language}}">
  {% include head.html %}
  <body>
	<div id="main">
		{% include logo.html %}
		{% include nav.html %}
		<div id="content-left">
      <h2>Category: {{page.category}}</h2>
      {% assign content = page.content | strip_newlines %}
      {% if content != ""  %}
        {{content}}
      {% endif %}
      {% for post in paginator.categories[page.category] %}
        <div id="post-short">
          <a href="{{site.url}}{{site.baseurl}}{{post.url}}">
            <h3>{{post.title}}</h3>
          </a>
          <i>posted on {{ post.date | date: "%-d %b %Y" }}</i>
          <p>
            {% if post.excerpt %}
              {{ post.excerpt }}
            {% else %}
              {{ post.content }}
            {% endif %}
          </p>
        </div>
      {% endfor %}
		</div>
		{% include footer.html %}
	</div>
    </body>
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
</html>
